body {
  background-color: rgb(44, 44, 44);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blur {
  opacity: 20%;
}

.hide {
  opacity: 0%;
}

#popup {
  display: flex;
  position: absolute;
  align-items: center;
  height: 20vh;
  width: 20vh;
  justify-content: center;
}

#counting-down {
  font-size: 50px;
  font-weight: 900;
  color: white;
  text-shadow: 5px 3px 10px rgb(102, 148, 101);
}

#gamefield {
  display: flex;
  position: relative;
  top: 5vh;
  height: 80vh;
  width: 80vh;
  box-shadow: 4px 4px 24px 5px rgb(102, 148, 101);
  margin: auto;
}

#game-info {
  display: flex;
  position: relative;
  height: 10vh;
  width: 40vh;
  font-size: 5vh;
  color: white;
  text-shadow: 5px 3px 10px rgb(102, 148, 101);
}

#SNAKE {
  background-color: red;
  height: 100;
  width: 500;
  margin-left: 600;
}

#game-title {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 80vh;
}

h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 3px 10px rgb(102, 148, 101);
  font-size: 50;
}

#rules {
  background-color: red;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 3px 10px rgb(102, 148, 101);
  font-size: 30;
}
